{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{% static 'css/styles.css' %}"
        />
        <title>LOGIN</title>
    </head>
    <body>
        <form
            method="post"
            hx-post="{% url 'login'%}"
            hx-target="#message-container"
            hx-swap="innerHTML"
        >
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required />
            <br />
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required />
            <br />
            <button type="submit">Login</button>
            <div id="message-container"></div>
        </form>
        <a href="{% url 'signup' %}">Don't have an account? Sign up</a>
    </body>
</html>
