{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <script src="https://unpkg.com/htmx.org"></script>
        <title>LOGIN</title>
    </head>
    <body>
        <form
            method="post"
            hx-post="{% url 'login' %}"
            hx-target="#message-container"
            hx-swap="innerHTML"
        >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <div id="message-container"></div>
        <a href="{% url 'signup' %}">Don't have an account? Sign up</a>
        <br />
        <a href="{% url 'password_reset' %}">Forgot Password? Reset</a>
    </body>
</html>
