{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <script src="https://unpkg.com/htmx.org"></script>
        <script src="{% static 'js/validator.js' %}"></script>
        <title>SIGNUP</title>
    </head>
    <body>
        <form
            method="post"
            hx-post="{% url 'signup'%}"
            hx-target="#message-container"
            hx-swap="innerHTML"
        >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
        <div id="message-container"></div>
        <a href="{% url 'login' %}">Already have an account? Login</a>
    </body>
</html>
